{% extends 'all.html' %}
{% block content %}
{% load static %}


    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">
            <!-- page title  -->
            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex align-items-center justify-content-between">
                        <div class="page_title_left">
                            <!-- <h3 class="f_s_30 f_w_700 text_white" >Dashboard</h3>
                            <ol class="breadcrumb page_bradcam mb-0">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Salessa </a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Sales</li>
                            </ol> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <div class="white_card mb_20">
                        <div class="white_card_header d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Total Users</h5>
                                <h2>{{total_users}}</h2>
                            </div>
                            <i class="ti-user dashbord_i"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white_card mb_20">
                        <div class="white_card_header d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Total Active Business</h5>
                                <h2>{{total_buisness}}</h2>
                            </div>
                            <i class="ti-stats-up dashbord_i"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="white_card mb_20">
                        <div class="white_card_header d-flex justify-content-between align-items-center">
                            <div>
                                <h5>Total Matches</h5>
                                <h2>{{total_matches}}</h2>
                            </div>
                            <i class="ti-basketball dashbord_i"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="white_card">
                        <h4 class="p-3 f_s_30 f_w_700">User Management</h4>
                        <table class="table table_active">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Zip Code</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for profile in data %}
                                    <td>{{profile.User_id}}</td>
                                    <td>
                                        <div class="img_cover">
                                            {% if profile.ProfileImage %}
                                               <img src="{{ profile.ProfileImage.url }}" class="rounded-lg me-2" alt="">
                                            {% endif %} 
                                        </div>
                                    </td>
                                    <td>{{profile.FirstName}}</td>
                                    <td>{{profile.City}}</td>
                                    <td>{{profile.State}}</td>
                                    <td>{{profile.ZipCode}}</td>
                                    <td><a href="#" class="suspend_btn" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{profile.User_id}}" onclick="document.getElementById('uid').value = $(this).data('id');" >Suspend</a></td>
                                </tr>
                                
                                {% endfor %}
                                
                            </tbody>
                            
                        </table>
                        <div>
                        <center>
                                {% for pg in data.paginator.page_range %}
                                    {% if pg|stringformat:'s' == data.number|stringformat:'s' %}
                                    <span><a class="suspend_btn" href="?page={{pg}}"> {{ pg }}</a></span> 
                                    {% else %}
                                    <span><a class="btn" href="?page={{pg}}"> {{ pg }}</a></span> 
                                    {% endif %}
                                {% endfor %}
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- main content part end -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="text-center">Do you really want to suspend user?</h3>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <form method='POST'>{% csrf_token %}
              <!--{% if Profiles.IsSuspended %} -->
            <!--{% else %}-->
            <button type="submit" class="btn btn-primary" data-dismiss="modal"  onclick="this.form.submit()">Yes, Sure</button>
            <input type="hidden" name="UserId" id="uid">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            
           <!--{% endif %}-->
           </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- bootstarp js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- sidebar menu  -->
  <script src="{% static 'js/metisMenu.js' %}"></script>
  
  <!-- responsive table -->
  <script src="{% static 'vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatable/js/dataTables.buttons.min.js' %}"></script>
  
  <!-- scrollabe  -->
  <script src="{% static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'vendors/scroll/scrollable-custom.js' %}"></script>
  
  <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
