<html lang="en">

<head>
    <title>Gun Instructor Reset Password</title>
</head>

<body class="bg-white">
    
    <script type="text/javascript">
    function changeLink(applink,) 
    {
    window.location=applink;
    }
    // changeLink("whatsapp://");
    // changeLink("guninstructor://guninstructor?User_id={{User_id}}");
    // setInterval(function () {
        //  window.location.replace("https://apps.apple.com/in/app/");
    // }, 6000);
    // window.location = "whatsapp://";
    // setTimeout(function () { window.location = "https://apps.apple.com/in/app/"; }, 25);
    // window.location = "guninstructor://guninstructor?User_id={{User_id}}";
    var i = 0,
    iOS = false,
    iDevice = ['iPad', 'iPhone', 'iPod'];

    for ( ; i < iDevice.length ; i++ ) {
        if( navigator.platform === iDevice[i] ){ iOS = true; break; }
    }

    try {
        //run code that normally breaks the script or throws error
        if (iOS) { window.location = "guninstructor://guninstructor?User_id={{User_id}}";}
    }
    catch(e) {
        window.location = "https://apps.apple.com/in/app/";
    }
    </script>

</body>

</html>    